[submodule "thirdparties/googletest"]
	path = thirdparties/googletest
	url = https://github.com/klepsydra-technologies/googletest.git
[submodule "kpsr-build"]
	path = kpsr-build
	url = git@github.com:klepsydra-technologies/kpsr-build.git
