# Copyright 2023 Klepsydra Technologies AG
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Code style check

on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  format-check:
    name: Code style
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/klepsydra-technologies/kpsrbase:1.0.0
    steps:
      - name: Clone kpsr-sdk
        uses: actions/checkout@v6
        with:
          repository: klepsydra-technologies/kpsr-sdk
          ref: main
          submodules: recursive
          path: kpsr-sdk

      - name: Build and install SDK
        run: |
          mkdir build && cd build/
          cmake ..
          make -j$(nproc)
          make install
        working-directory: kpsr-sdk

      - name: Clone kpsr-core
        uses: actions/checkout@v6
        with:
          repository: klepsydra-technologies/kpsr-core
          submodules: recursive
          ref: main
          path: kpsr-core

      - name: Install kpsr-core
        run: |
          mkdir build && cd build
          cmake -DKPSR_WITH_DOXYGEN=true -DKPSR_WITH_ZMQ=false -DKPSR_TEST_PERFORMANCE=false -DKPSR_WITH_SOCKET=true \
                -DKPSR_WITH_CODE_METRICS=true -DCMAKE_BUILD_TYPE=Debug -DKPSR_ENABLE_TESTS=false -DKPSR_ENABLE_EXAMPLES=false ../
          make -j$(nproc)
          sudo make -j$(nproc) install
        working-directory: kpsr-core

      - name: Remove kpsr-core sources
        run: |
          sudo rm -rf ${GITHUB_WORKSPACE}/kpsr-core

      - name: Clone kpsr-robotics
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Code format check
        run: |
          mkdir build && cd build
          cmake ../
          make formatcheck

      - name: Workspace cleanup
        if: always()
        run: |
          sudo rm -rf ${GITHUB_WORKSPACE}/build

  codecoverage:
    name: Code coverage
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/klepsydra-technologies/kpsrbase:1.0.0
    steps:
      - name: Clone kpsr-sdk
        uses: actions/checkout@v6
        with:
          repository: klepsydra-technologies/kpsr-sdk
          ref: main
          submodules: recursive
          path: kpsr-sdk

      - name: Build and install SDK
        run: |
          mkdir build && cd build/
          cmake ..
          make -j$(nproc)
          make install
        working-directory: kpsr-sdk

      - name: Clone kpsr-core
        uses: actions/checkout@v6
        with:
          repository: klepsydra-technologies/kpsr-core
          submodules: recursive
          ref: main
          path: kpsr-core

      - name: Install kpsr-core
        run: |
          mkdir build && cd build
          cmake -DKPSR_WITH_DOXYGEN=true -DKPSR_WITH_SOCKET=true -DKPSR_WITH_CODE_METRICS=true -DCMAKE_BUILD_TYPE=Debug \
                -DKPSR_ENABLE_TESTS=false -DKPSR_ENABLE_EXAMPLES=false ../
          make -j$(nproc)
          sudo make -j$(nproc) install
        working-directory: kpsr-core

      - name: Remove kpsr-core sources
        run: |
          sudo rm -rf ${GITHUB_WORKSPACE}/kpsr-core

      - name: Clone kpsr-robotics
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build
        run: |
          mkdir build && cd build
          cmake -DKPSR_WITH_DOXYGEN=false -DKPSR_WITH_CODE_METRICS=true -DCMAKE_BUILD_TYPE=Debug -DKPSR_WITH_OCV=true \
                -DKPSR_ENABLE_TESTS=true -DKPSR_ENABLE_EXAMPLES=false ../
          make -j$(nproc)

      - name: Coverage
        timeout-minutes: 10
        run: |
          cd build
          make -j$(nproc) coverage

      - uses: codecov/codecov-action@v5
        with:
          files: build/coverage.xml

      - name: Workspace cleanup
        if: always()
        run: |
          sudo rm -rf ${GITHUB_WORKSPACE}/build
